%h1 Listing job_posts

%table
  %tr
    %th Title
    %th Url
    %th Count
    %th
    %th
    %th
    %th

  - @job_posts.each do |job_post|
    %tr
      %td= link_to job_post.title, job_post.url
      %td= job_post.url
      %td= job_post.comments.count rescue 0
      %td= link_to 'Show', job_post
      %td= link_to 'Edit', edit_job_post_path(job_post)
      %td= link_to 'Destroy', job_post, method: :delete, data: { confirm: 'Are you sure?' }
      %td= link_to 'New Comment', new_job_post_comment_path(job_post)
    %tr
      %td= 'comment'
      %td= render partial: 'comment', collection: job_post.comments

%br

= link_to 'New Job post', new_job_post_path
